/* Resets */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Master-styling */

body {
  padding: 0;
  color: #e9e9ec;
  font-family: sans-serif;
}
h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
p {
  text-transform: uppercase;
  word-spacing: 3px;
  letter-spacing: 5px;
  color: rgb(185, 185, 185);
}
h2 {
  font-size: 1.8rem;
}

/* Custom-styling */

img {
  margin: 20px 0 30px 30px;
  border-radius: 50%;
}
ul {
  text-align: center;
}
li {
  display: inline-block;
  margin: 30px 30px 130px 30px;
}
.line {
  margin: 30px 0 50px 0;
  border-bottom: 1px solid rgb(58, 58, 58);
}
.learn-more {
  color: #e9e9ec;
  margin-top: 30px;
}

/* Header-styling */

a {
  color: #e9e9ec;
  text-decoration: none;
}
header {
  padding: 20px 100px 50px 100px;
  background-color: #2e3141;
}
header section {
  margin-bottom: 50px;
}
header h2 {
  text-align: center;
  font-size: 1.8rem;
}

/* Main-section-styling */

.main-section-1 {
  padding: 50px 100px 50px 100px;
  background-color: #5364a3;
}
.main-section-1 p {
  text-transform: none;
  word-spacing: normal;
  letter-spacing: normal;
  line-height: 25px;
}

/* Footer-styling */

footer {
  padding: 50px 100px 50px 100px;
  background-color: #2e3141;
}
footer p {
  text-transform: none;
  word-spacing: normal;
  letter-spacing: normal;
  font-size: 1rem;
}
