/* Resets */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Master-styling */

body {
  margin: 0;
  padding: 50px;
}

/* Custom-styling */

h2 {
  font-size: 1.5rem;
  margin: 30px 20px;
  font-weight: bold;
}
.styling-div {
  margin: 20px;
  width: 150px;
  height: 100px;
  background-color: maroon;
  border: 4px solid black;
}
.display {
  display: inline-block;
}
.double-border {
  border: 5px black double;
}
.dashed-border {
  border: 4px dashed black;
}
.dotted-border {
  border: 4px dotted black;
}
.section-3 {
  border: none;
}
.last-div {
  width: 350px;
  height: 500px;
  padding: 15px;
  margin-top: 50px;
  color: white;
  line-height: 25px;
  border-top: 30px blue solid;
  border-right: 30px gray solid;
  border-bottom: 30px yellow solid;
  border-left: 30px green solid;
  box-shadow: 0px 20px 0 40px purple, 0px -20px 0 40px purple;
}
